{% load static %}
<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <script>
      (function(d) {
        var config = {
          kitId: 'qpu3kdj',
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
    <link rel="shortcut icon" href="{% static 'S__3907586.jpg' %}" type="image/vnd.microsoft.icon">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/6836fb8d63.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'tosou/css/base.css' %}">
    <link rel="stylesheet" href="/static/tosou/css/account.css">
    <link rel="stylesheet" href="/static/tosou/css/style2.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    {% block head %}{% endblock %}
    <link rel="stylesheet" href="/static/tosou/css/responsive.css">
  </head>
  <body>
    <input type="checkbox" name="" value="" id='manga_check'>
    <div class="complete_body responsive_manga_b">
      <label for="manga_check" class='batu'><i class="fas fa-times"></i></label>
      <div class="complete_box ">
        <p>ページが画面サイズに合っていない場合は再読み込みしてください。</p>
        <span class='pages' id="toLast">P8</span>
        <div class="white_box">
          <div id="flipbook">
            <div><img src="{% static '00001.jpg'%}" alt=""></div>
            <div><img src="{% static '00002.jpg'%}" alt=""></div>
            <div><img src="{% static '00003.jpg'%}" alt=""></div>
            <div><img src="{% static '00004.jpg'%}" alt=""></div>
            <div><img src="{% static '00005.jpg'%}" alt=""></div>
            <div><img src="{% static '00006.jpg'%}" alt=""></div>
            <div><img src="{% static '00007.jpg'%}" alt=""></div>
            <div><img src="{% static '00008.jpg'%}" alt=""></div>
          </div>
        </div>
        <span class='pages' id="toTop">P1</span>
        <div id="pagemenu">
          <span class='pages' id="toNext">Next</span>
          <span class='pages' id="toPrev">Prev</span>
        </div>
      </div>
    </div>
    <div class="complete_body responsive_manga">
      <label for="manga_check" class='batu'><i class="fas fa-times"></i></label>
      <div class="complete_box2 ">
        <p>ページが画面サイズに合っていない場合は再読み込みしてください。</p>
        <div class="white_box2">
          <div id="flipbook2">
            <div><img src="{% static '00001.jpg'%}" alt=""></div>
            <div><img src="{% static '00002.jpg'%}" alt=""></div>
            <div><img src="{% static '00003.jpg'%}" alt=""></div>
            <div><img src="{% static '00004.jpg'%}" alt=""></div>
            <div><img src="{% static '00005.jpg'%}" alt=""></div>
            <div><img src="{% static '00006.jpg'%}" alt=""></div>
            <div><img src="{% static '00007.jpg'%}" alt=""></div>
            <div><img src="{% static '00008.jpg'%}" alt=""></div>
            <div><img src="{% static 'manga1.jpg'%}" alt=""></div>
          </div>
        </div>
        <div id="pagemenu2">
          <span class='pages' id="toLast2">Last</span>
          <span class='pages' id="toNext2">Next</span>
          <span class='pages' id="toPrev2">Prev</span>
          <span class='pages' id="toTop2">P1</span>
        </div>
      </div>
    </div>

    <header>
      <div class="header_left">
        <div class="logo_box">
          <div class="c_logo">
            <div class="sume_box">
              <div class="c_sume">
                <p>現金負担０円リフォーム</p>
                <img class='header_sume' src="{% static 'sume.png' %}" alt="">
              </div>
            </div>
            <img class='header_logo' src="{% static 'logo4.png' %}" alt="">
          </div>
          <p class='header_p'>確かな技術をスマートにあなたへ｜外壁塗装｜内壁塗装｜遮熱｜GAINA</p>
        </div>
      </div>
    </header>
    <div class="header_menu">
      <!--{% if request.path == "/techbee/ranking/" %}id="current"{% endif %}-->
      <div class="h_box">
        <a href="{% url 'index' %}" class='a_nav a_nav_a'>TOP</a>
        <a href="{% url 'mitumori' %}" class='a_nav a_nav_a'>見積依頼</a>
        <a href="{% url 'consul' %}" class='a_nav a_nav_a'>無料相談</a>
        <a href="{% url 'catalog' %}" class='a_nav a_nav_a'>紹介特典</a>
        <a href="{% url 'qa' %}" class='a_nav a_nav_a'>Q&A</a>
        {% if user.is_authenticated %}
        <a href="{% url 'account' %}" class='a_nav a_nav_a'>{{ afi_code }}</a>
        {% else%}
        <a class='a_nav a_nav_a' href="{% url 'line_login' %}">ログイン</a>
        {% endif %}
      </div>
    </div>
    <a class="tel_box" href="{% url 'contact_line' %}">
      <img src="{% static 'tel.png' %}" alt="">
    </a>
    {% if request.path == "/auth/social/login/cancelled/" %}
    <div class="account_body">
      <div class="video-wrap">
        <video src="https://res.cloudinary.com/hlbrfvwak/video/upload/v1592166534/01_fmazlw.mp4" autoplay muted loop></video>
        <div class="video-bg"></div>
      </div>

      <div class="mv">
        <div class="video-desc">
          <p>公式LINEの友達追加が完了していません。<br>紹介特典のご連絡はLINEで行うため、公式LINEを友達追加していただく必要があります。<br><span><a href="{% url 'line_login' %}" class='a_under'>公式LINEの友達追加はこちら</a></span></p>
        </div>
        <canvas class="background"></canvas>
      </div>
      <h2>おすすめのトピック</h2>
      <div class="account_grid">
        <label class="ohtsuki_box a_box" onClick="win3_open()">
          <img src="{% static 'S__3866630.jpg' %}" alt="">
          <div class="mask">
            <div class="p_box">
              <div class="p">
                <h3>大槻塗装工業</h3>
                <p>当社の一番の強みは、昭和36年から約60年続く、老舗塗装店の施工力。<br>お住まいの状況を正しく見極める診断力、一軒一軒に合わせて最適な塗り替えを行う技術力なら、どんな塗装店にも引けをとりません。<br>皆様の大切なお住まいが、少しでも長く家族の暮らしを守れるように...。<br>小さなところからきっちりと、信頼に応える塗装工事をいたします。</p>
              </div>
            </div>
          </div>
        </label>
        <a href="{% url 'mitumori' %}" class="mitumori_box a_box">
          <img src="{% static 'S__3866634.jpg' %}" alt="">
          <div class="mask">
            <div class="p_box">
              <div class="p">
                <h3>塗装見積依頼</h3>
                <p>直接大槻塗装工業に見積依頼をする方はこちらのフォームから送信してください。<br>見積依頼を当社で確認後、希望日に合わせてご連絡いたします。こちらのお見積りにかかる費用は一切ございませんが、お仕事の方は通常料金でご案内させていただいております。<br>お気軽にお問合わせください。</p>
              </div>
            </div>
          </div>
        </a>
        <a href="{% url 'qa' %}" class="qa_box a_box">
          <img src="{% static 'S__3866628.jpg' %}" alt="">
          <div class="mask">
            <div class="p_box">
              <div class="p">
                <h3>よくあるご質問</h3>
                <p>よくあるご質問をQ＆A方式でまとめました。<br>公式LINEでもご質問などに対応しておりますので、他にも気になることがありましたら、そちらもご利用ください。</p>
              </div>
            </div>
          </div>
        </a>
        <a href="{% url 'renovation' %}" class="smart_box a_box">
          <img src="{% static 'S__3883010.jpg' %}" alt="">
          <div class="mask">
            <div class="p_box">
              <div class="p">
                <h3>現金負担0円の仕組み</h3>
                <p>現金負担0円の仕組みの説明や、無料相談後の流れについてまとめました。なぜ現金負担0円で塗装工事をすることが可能なのかを簡単にご説明できればと思っております。知れば納得の仕組みになっておりますので、ご安心して当社にお任せください。</p>
              </div>
            </div>
          </div>
        </a>
        <a href="{% url 'consul' %}" class="consul_box a_box">
          <img src="{% static 'S__3866633.jpg' %}" alt="">
          <div class="mask">
            <div class="p_box">
              <div class="p">
                <h3>無料相談</h3>
                <p>住宅ローン残高1000万円以上、住宅ローン残期間10年以上、現在の金利が1.5%以上の方であれば、きっとお役に立てます。リフォーム資金計画相談シートをご入力を希望の方はこちらからお願いいたします。</p>
              </div>
            </div>
          </div>
        </a>
        <label for='manga_check' class="manga_box a_box">
          <img src="{% static 'S__3866629.jpg' %}" alt="">
          <div class="mask">
            <div class="p_box">
              <div class="p">
                <h3>漫画で分かる<span><div class='span_d'>現金<br>負担</div></span>0<span>円</span>塗装</h3>
                <p>現金負担0円でお家の塗り替えができる仕組みが分かりやすく漫画になりました。</p>
              </div>
            </div>
          </div>
        </label>
        <a href="{% url 'e_s' %}" class="simulation_box a_box">
          <img src="{% static 'S__3866635.jpg' %}" alt="">
          <div class="mask">
            <div class="p_box">
              <div class="p">
                <h3>簡単シミュレーション</h3>
                <p>住宅ローンの金利が現在のままの場合に支払う利子がいくらになるのか、借り換えをするといくら節約することが出来るのかを簡単に計算できます。<br>無料相談の前などに一度お試ししてみてはいかがでしょうか。</p>
              </div>
            </div>
          </div>
        </a>
        <a href="{% url 'catalog' %}" class="catalog_box a_box">
          <img src="{% static 'S__3866632.jpg' %}" alt="">
          <div class="mask">
            <div class="p_box">
              <div class="p">
                <h3>紹介特典</h3>
                <p>お仕事をご紹介していただいた皆様に、紹介特典として送りさせていただく品物のカタログです。<br>紹介していただいたお仕事が完了した際に、公式LINEからご連絡いたします。その際にカタログに掲載されている商品の中から一つお選びしていただく形になっております。<br>商品は定期的に新しいもの更新しております。</p>
              </div>
            </div>
          </div>
        </a>
        <a href="{% url 'regi' %}" class="user_box a_box">
          <img src="{% static 'S__3866626.jpg' %}" alt="">
          <div class="mask">
            <div class="p_box">
              <div class="p">
                <h3>ユーザー登録</h3>
                <p>お仕事をご紹介して紹介特典を受け取るためにはユーザー登録が必要になっております。ユーザー登録はLINEでサイトにログインするだけなのでとても簡単です。<br>また、紹介特典の商品コードや郵送先の確認のご連絡は公式LINEにて行いますので、ユーザー登録後、公式LINEの方も友達追加していただきますようよろしくお願いいたします。</p>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
    {% elif request.path == "/auth/line/login/callback/" %}
    <h1>プライベートウィンドウや<br>シークレットウィンドウでは、ログインできません。</h1>
    <p>お手数をおかけしますが新しいウインドウでやり直してください。</p>
    {% endif %}
    {% block body %}{% endblock %}
    <footer>
      <div class="footer_grid">
        <div class="footer_h_box">
          <div class="footer_l_box">
            <p class='footer_title'>紹介特典</p>
            <a href="{% url 'regi' %}">紹介コードをGET</a>
            <a href="{% url 'catalog' %}">カタログ</a>
          </div>
        </div>
        <div class="footer_h_box">
          <div class="footer_l_box">
            <p class='footer_title'>お役立ちコンテンツ</p>
            <label for="manga_check" class='ap'>現金負担0円が分かる漫画</label>
            <a href="{% url 'e_s' %}">簡単シミュレーション</a>
            <a href="{% url 'qa' %}">よくあるご質問</a>
          </div>
        </div>
        <div class="footer_h_box">
          <div class="footer_l_box">
            <p class='footer_title'>お問い合わせ</p>
            <a href="{% url 'consul' %}">無料相談</a>
            <a href="{% url 'mitumori' %}">見積依頼</a>
            <a href="{% url 'contact_line' %}">その他ご連絡</a>
          </div>
        </div>
        <div class="footer_h_box">
          <div class="footer_l_box">
            <p class='footer_title'>提携企業</p>
            <p class='ap' onClick="win3_open()">有限会社大槻塗装工業</p>
            <p class='ap' onClick="win_open()">スマートリノベーション</p>
            <p class='ap' onClick="win2_open()">Goodグループ</>
            <p class='ap'>TechNext</p>
          </div>
        </div>
        <div class="footer_h_box">
          <div class="footer_l_box">
            <p class='footer_title'>アカウント</p>
            {% if user.is_authenticated %}
            <a href="{% url 'account' %}">{{ afi_code}}</a>
            <a href="{% url 'logout' %}">ログアウト</a>
            {% else %}
            <a href="{% url 'line_login' %}">ログイン</a>
            {% endif %}
          </div>
        </div>
      </div>
      <p class='copyright'>Copyright © 有限会社大槻塗装工業 All Rights Reserved.</p>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'tosou/js/turn.js' %}"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
    <script src="/static/tosou/js/scrolla.jquery.min.js"></script>
    <script type="text/javascript">
        $('#flipbook').turn({
          display: 'double',
          inclination: 50,
          direction: "rtl",
        });
    </script>
    <script type="text/javascript">
        $('#flipbook2').turn({
          display: 'single',
          inclination: 50,
          direction: "rtl",
        });
    </script>
    <script type="text/javascript">
        // トップへ移動
      	$("#toTop").click(function(){
      		$("#flipbook").turn("page", 1);
      	})
      	// 前のページへ移動
      	$("#toPrev").click(function(){
      	    $("#flipbook").turn("previous");
      	});
      	// 次のページへ移動
      	$("#toNext").click(function(){
      	    $("#flipbook").turn("next");
      	});
      	// 最後のページへ移動
      	$("#toLast").click(function(){
      		$("#flipbook").turn("page", 8);
      	})
    </script>
    <script type="text/javascript">
        // トップへ移動
      	$("#toTop2").click(function(){
      		$("#flipbook2").turn("page", 1);
      	})
      	// 前のページへ移動
      	$("#toPrev2").click(function(){
      	    $("#flipbook2").turn("previous");
      	});
      	// 次のページへ移動
      	$("#toNext2").click(function(){
      	    $("#flipbook2").turn("next");
      	});
      	// 最後のページへ移動
      	$("#toLast2").click(function(){
      		$("#flipbook2").turn("page", 9);
      	})
    </script>
    <script type="text/javascript">
      function win_open() {
      	window.open("https://smart-renovation.jp/","","width=500,height=500");
      }
    </script>
    <script type="text/javascript">
      function win2_open() {
      	window.open("https://www.good-group.co.jp/","","width=500,height=500");
      }
    </script>
    <script type="text/javascript">
      function win3_open() {
      	window.open("https://www.ohtsuki-tosou.co.jp/","","width=500,height=500");
      }
    </script>
    <script type="text/javascript">
    $('.animate').scrolla({
          mobile: true,
          once: false
          });
      $(function() {
        $('#more-btn').click(function() {
          $('#voice-box').toggleClass('visible');
          $('.voice-toggle').toggleClass('hidden');
        });
      });

    </script>
    {% block e_body %}{% endblock %}
  </body>
</html>
