.mitumori_body{
  width: 100%;
  padding: 0 12.5%;
  font-family:serif;
}

.back_img{
  position: absolute;
  opacity: 0.4;
  width: 40%;
  z-index: -1;
}

.m_header{
  padding-top: 15rem;
  padding-bottom: 5rem;
}

.m_header h1{
  text-align: center;
}

.o_form{
  margin-bottom: 3rem;
}

.info{
  font-family:cursive;
  margin-bottom: 2rem;
}

#question_area{
  resize: none;
  width:100%;
  height:200px;
  font-size: 1.5rem;
  padding: 5px;
}

input{
  background-color: rgba(255,255,255,0.4);
}
