div {
  color: black; /* 文字色を白色に */
}



#flipbook {
   /* flipbook自体の横幅なので各ページは200px */
  height: 70vh;
  margin: 10% 20%; /* 一番左端だとたまに見切れるので適当に移動 */
}

#flipbook div img{
  width: 100%;;
}

div li span{
  font-weight: bold;
  cursor: pointer;
}
