@media(max-width:1100px) {
  .footer_title {
    font-size: 14px;
  }
  .footer_l_box .ap {
    font-size: 12px;
  }
}
@media(max-width:450px) {
  header {
    height: 80px;
  }

  .c_logo {
    display: flex;
    width: 90%;
    align-items: center;
    margin:0;
  }
  .c_sume p {
    font-size: 10px;
  }
  .header_sume {
    height: 20px;
    margin-bottom: 0px;
  }
  .header_logo {
    height: 30px;
    margin-left: auto;
  }
  .header_p {
    font-size: 10px;
    margin-right: 0;
  }
  .header_menu {
    padding: 0;
    z-index: 10;
  }
  .h_box .a_nav_a {
    font-size: 12px;
  }
  .main_img {
    padding:20px 2.5%;
  }
  .main_img img {
    width: 95%;
  }
  /* style.css */
  .voice-sec {
    margin-top:100px;
    margin-bottom: 0px;
  }
  /* index.css */
  .check_form {
    margin:0;
  }
  .check_form h1  {
    font-size: 1rem;
  }
  .check_form p {
    font-size: 0.6rem;
  }
  .c_box label {
    font-size: 13px;
  }
  .check_form button {
    font-size: 1rem;
  }
  .guide_box {
    margin:0;
    padding:3rem 2.5%;
  }
  .guide_box h1 {
    padding-bottom: 0px;
    font-size: 18px;
  }
  .img_box {
    display: flex;
    flex-direction: column;
    padding :0 10px;
  }
  .img_box {
    font-size: 10px;
  }
  /*  base.css */
  .footer_grid {
    display: flex;
    flex-direction: column;
    background-color: #73c5c8;
    padding:2rem 0;
  }
  .footer_title {
    font-size: 14px;
  }
  .footer_l_box .ap {
    font-size: 12px;
    line-height: 2rem;
  }
  .a_under {
    margin:0.5rem 20%;
  }
  .easy_s h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .easy_form button {
    font-size: 1rem;
  }
  .consul {
    grid-template-columns :1fr;
  }
  .consul_box h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .consul_body {
    padding:3rem 5%;
  }
  .consul_body h1 {
    font-size: 16px;
  }
  .bold_p {
    font-size: 14px;
    margin-bottom: 0px;
  }
  .meyasu_p {
    font-size: .85rem;
  }
  .c_list li {
    font-size: 12px;
  }
  .info {
    margin-top: 20px;
    grid-template-columns: 1fr;
    grid-row-gap: 0;
  }
  .info label {
    padding-top: 0.5rem;
    font-size: .85rem;
  }
  .info div{
    display: grid;
  }
  .s_s {
    display: flex !important;
  }
  .k_more_input,
  .n_more_input,
  .s_more_input {
    width:30%;
  }
  .submit_c p {
    font-size: .6rem;
  }
  .submit {
    margin-top: 15px;
    font-size: 1rem;
  }
  .d_div p {
    font-size: .8rem;
  }
  .personal_info {
    font-size: .85rem;
    margin:15px 0;
  }
  .catalog_body {
    padding: 3rem 5%;
  }
  .catalog_grid {
    display: flex;
    flex-direction: column;
  }
  .catalog {
    height: 50vh;
    display: flex;
    flex-direction: column;
    padding:0 10px;
    justify-content: space-around;
    margin-bottom: 2rem;
  }
  .catalog .img_box {
    width: 100%;
    height: 45%;
    padding:0;
    margin:0;
  }
  .catalog .img_box img {
    width: 100%;
    height: 100%;
  }
  .catalog p {
    font-size: 12px;
    height: 35%;
    padding: 0;
  }
  .catalog .img_box p {
    width: 20vw;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer_l_box {
    width: 100%;
    padding: 5%;
  }
  .c_box input[type=checkbox]:checked ~ label {
    font-size: 1rem;
  }
  .account_grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-gap: 3vw;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .mask {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: rgba(255,255,255,0.5); */
    transition: all 0.3s ease;
    opacity: 1;
    border-radius: 10px;
  }
  .easy_form {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-row-gap: 1rem;
  }
  .qa_body {
    padding: 3rem 5%;
    width: 100%;
  }
  .qa_box {
    box-shadow: 0 0 1rem 5px rgba(110, 223, 235, 0.3);
    border-radius: 10px;
    padding: 1rem;
    /* margin: 0 0 2rem 0; */
    font-size: 0.9rem;
}
  .tel_box img {
    width: 40%;
  }
  .f_contact_body {
    padding: 3rem 5%;
    width: 100%;
  }

  .tel_number_box h1 {
    text-align: center;
    color: #95d1d2;
    font-size: 2rem;
  }
  .tel_number_box h2 {
    border-radius: 1rem;
    background-color: rgb(56,56,56);
    color: white;
    margin-bottom: 1rem;
    font-size: .5rem;
  }
  .r_box {
    display: grid;
    grid-template-columns:1fr;
    grid-column-gap: 2rem;
  }
  .jun {
    font-size: 1rem;
    font-weight: bold;
  }
  .r_body {
    padding: 3rem 5%;
    width: 100%;
    margin-bottom: 4rem;
  }
  .r_body h1 {
    font-size: 1.2rem;
    text-align: center;
    font-family: serif;
    padding: 1rem 0;
  }
  .line_img {
    height: 100px;
    border-radius: 20px;
  }
  .under_ts {
    height: 150px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
  }
  .submit {
    margin-bottom: 3rem;
    width: 100%;
    cursor: pointer;
    line-height: 2rem;
  }
  .back_img {
    position: absolute;
    opacity: 0.4;
    width: 100%;
    z-index: -1;
  }
  .m_header h1 {
    text-align: center;
    font-size: 1.2rem;
  }
  .m_header {
    padding-top: 14rem;
    padding-bottom: 5rem;
  }
  .line_grid {
    display: none;
    /* display: grid; */
    /* grid-template-columns: 1fr 17vw; */
  }
  .sikumi_box {
    padding: 3rem 5%;
    margin-top: 3rem;
    background-image: url(/static/shikumiBg.png);
  }
  .tada_p {
    text-align: center;
    font-size: 0.7rem;
  }
  .henka_box h1 {
    border-bottom: solid 2px black;
    line-height: 3rem;
    font-size: 1rem;
    margin: 2rem 0;
  }
  _::-webkit-full-page-media, _:future, :root .voice-card {
  width: 70%;
  }
  _::-webkit-full-page-media, _:future, :root .voice-card:nth-child(even) img:last-child {
    top: -60%;
  }
  _::-webkit-full-page-media, _:future, :root .voice-card:nth-child(odd) img:last-child {
    top: -60%;
  }

}
