@media(max-width:1100px) {
  .footer_title {
    font-size: 14px;
  }
  .footer_l_box .ap {
    font-size: 12px;
  }
}
@media(max-width:450px) {
  header {
    height: 80px;
  }

  .c_logo {
    display: flex;
    width: 90%;
    align-items: center;
    margin:0;
  }
  .c_sume p {
    font-size: 10px;
  }
  .header_sume {
    height: 20px;
    margin-bottom: 0px;
  }
  .header_logo {
    height: 30px;
    margin-left: auto;
  }
  .header_p {
    font-size: 10px;
    margin-right: 0;
  }
  .header_menu {
    padding: 0;
    z-index: 10;
  }
  .h_box .a_nav_a {
    font-size: 12px;
  }
  .main_img {
    padding:20px 2.5%;
  }
  .main_img img {
    width: 95%;
  }
  /* style.css */
  .voice-sec {
    margin-top:100px;
    margin-bottom: 0px;
  }
  /* index.css */
  .check_form {
    margin:0;
  }
  .check_form h1  {
    font-size: 18px;
  }
  .check_form p {
    font-size: 0.6rem;
  }
  .c_box label {
    font-size: 13px;
  }
  .check_form button {
    font-size: 1rem;
  }
  .guide_box {
    margin:0;
    padding:3rem 2.5%;
  }
  .guide_box h1 {
    padding-bottom: 0px;
    font-size: 18px;
  }
  .img_box {
    display: flex;
    flex-direction: column;
    padding :0 10px;
  }
  .img_box {
    font-size: 10px;
  }
  /*  base.css */
  .footer_grid {
    display: flex;
    flex-direction: column;
    background-color: #73c5c8;
    padding:2rem 0;
  }
  .footer_title {
    font-size: 14px;
  }
  .footer_l_box .ap {
    font-size: 12px;
    line-height: 2rem;
  }
  .a_under {
    margin:0.5rem 20%;
  }
  .easy_s h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .easy_form button {
    font-size: 1rem;
  }
  .consul {
    grid-template-columns :1fr;
  }
  .consul_box h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .consul_body {
    padding:3rem 5%;
  }
  .consul_body h1 {
    font-size: 16px;
  }
  .bold_p {
    font-size: 14px;
    margin-bottom: 0px;
  }
  .meyasu_p {
    font-size: .85rem;
  }
  .c_list li {
    font-size: 12px;
  }
  .info {
    margin-top: 20px;
    grid-template-columns: 1fr;
    grid-row-gap: 0;
  }
  .info label {
    padding-top: 0.5rem;
    font-size: .85rem;
  }
  .info div{
    display: grid;
  }
  .s_s {
    display: flex !important;
  }
  .k_more_input,
  .n_more_input,
  .s_more_input {
    width:30%;
  }
  .submit_c p {
    font-size: .6rem;
  }
  .submit {
    margin-top: 15px;
    font-size: 1rem;
  }
  .d_div p {
    font-size: .8rem;
  }
  .personal_info {
    font-size: .85rem;
    margin:15px 0;
  }
  .catalog_body {
    padding: 3rem 5%;
  }
  .catalog_grid {
    display: flex;
    flex-direction: column;
  }
  .catalog {
    height: 50vh;
    display: flex;
    flex-direction: column;
    padding:0 10px;
    justify-content: space-around;
    margin-bottom: 2rem;
  }
  .catalog .img_box {
    width: 100%;
    height: 45%;
    padding:0;
    margin:0;
  }
  .catalog .img_box img {
    width: 100%;
    height: 100%;
  }
  .catalog p {
    font-size: 12px;
    height: 35%;
    padding: 0;
  }
  .catalog .img_box p {
    width: 20vw;
    height: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer_l_box {
    width: 100%;
    padding: 5%;
}

}
