.video-wrap {
  width: 100%;
  height: 400px;
  position: relative;
  overflow: hidden;
  animation: fadeOut 0.4s forwards linear;
  animation-delay: 6.5s;
}
.video-wrap video {
  width: 100%;
}
.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.5);
  z-index: 3 ;
  animation: hidden 0.1s forwards linear;
  animation-delay: 7s;
  visibility: visible;
}
.video-desc {
  position: absolute;
  top: 150px;
  width: 100%;
  z-index: 4;
  color: #000;
  text-shadow: 0 0 10px #fff;
  opacity: .5;
  text-align: center;
  animation: fadeIn .4s forwards linear;
  animation-delay: 6.5s;
}
.video-desc p {
  font-size: 30px;
  line-height: 1.6;
}
.video-desc p span  {
  font-size: 16px;
  color: #070707;
}
@keyframes fadeIn {
  0% {
    transform: scale(1);
    opacity: .5;
    color: #fff;
  }
  50% {
    transform: scale(0.95);
    opacity: 0;
  }
  100% {
    transform:scale(1);
    opacity: 1;
    color: #000;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;

  }
}
@keyframes hidden {
    0% {
      visibility: visible;
    }
    100% {
      visibility: hidden;
    }
}
.mv {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 400px;
  overflow:hidden;
}
.background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw !important;
  opacity: 0;
  animation: fadeIn .4s forwards linear;
  animation-delay: 6.6s;
}
@media(max-width:1024px) {
  .video-desc p {
    font-size: 24px;
  }
  .video-desc p span  {
    font-size: 14px;
  }
  .video-wrap video {
    width: auto;
    height: 100%;
  }
}
@media(max-width:768px) {
  .video-desc p {
    font-size: 22px;
  }
  .video-desc p span  {
    font-size: 12px;
  }
  .video-desc {
    top: 45%;
  }
}
@media(max-width:450px) {
  .video-desc p {
    font-size: 15px;
    font-weight: bold;
  }
  .video-desc p span  {
    font-size: 9px;
    font-weight: normal;
  }
}
@media(max-width:375px) {
  .video-desc p {
    font-size: 12px;
  }
  .video-desc p span  {
    font-size: 8px;
  }
}
