{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="/static/tosou/css/catalog.css">
<link rel="stylesheet" href="/static/tosou/css/style2.css">
{% endblock %}

{% block body %}
<div class="catalog_body">
  <div class="video-wrap">
    <img src="{% static 'S__3940379.jpg' %}" alt="" class='roku_img'>
    <video src="https://res.cloudinary.com/hlbrfvwak/video/upload/v1592166534/01_fmazlw.mp4" autoplay muted loop></video>
    <div class="video-bg"></div>
  </div>

  <div class="mv">
    <div class="video-desc">
      <p>お仕事を紹介して下さった方と<br>お仕事を依頼してくださった方へ感謝の気持ちを込めて<br><span>お仕事紹介の完了後にLINEにてお好きな商品のコードの確認の連絡をいたします。</span></p>
    </div>


    <canvas class="background"></canvas>
  </div>
  <div class="catalog_grid">
    <div class="catalog_box">
      <div class="catalog">
        <div class="img_box">
          <img src="{% static 'S__3997723.jpg' %}" alt="" class='wide_img'>
          <img src="{% static 'S__3997724.jpg'%}" alt="" class='phone_img'>
          <p>001</p>
        </div>
        <p>新江ノ島水族館<br>ご家族やご友人と水族館へ！チケットの枚数には限度がありますが、ご家族分は揃えさせて頂こうとおもっております。</p>
      </div>
    </div>
    <div class="catalog_box">
      <div class="catalog">
        <div class="img_box">
          <img src="{% static 'S__3997700.jpg'%}" alt="" class='wide_img'>
          <img src="{% static 'S__3997717.jpg'%}" alt="" class='phone_img'>
          <p>002</p>
        </div>
        <p>横浜ズーラシア動物園<br>ご家族やご友人と動物園へ！チケットの枚数には限度がありますが、ご家族分は揃えさせて頂こうとおもっております。</p>
      </div>
    </div>
    <div class="catalog_box">
      <div class="catalog">
        <div class="img_box">
          <img src="{% static 'S__3997701.jpg'%}" alt="" class='wide_img'>
          <img src="{% static 'S__3997716.jpg'%}" alt="" class='phone_img'>
          <p>003</p>
        </div>
        <p>マーロウビーカープリン<br>ビーカーに入ったかわいらしいプリン。オーブンで焼き卵の力だけで固め、砂糖を焦がして作るほんのり苦くておいしいカラメルとプリンの絶妙なバランス！</p>
      </div>
    </div>
    <div class="catalog_box">
      <div class="catalog">
        <div class="img_box">
          <img src="{% static 'S__3997702.jpg'%}" alt="" class='wide_img'>
          <img src="{% static 'S__3997715.jpg'%}" alt="" class='phone_img'>
          <p>004</p>
        </div>
        <p>葉山牛ハンバーグ<br>葉山牛入りハンバーグは、黒毛和牛独特な味と香りさわやかな触感が特徴です。ご家庭で一味違うハンバーグを！</p>
      </div>
    </div>
    <div class="catalog_box">
      <div class="catalog">
        <div class="img_box">
          <img src="{% static 'S__3997703.jpg'%}" alt="" class='wide_img'>
          <img src="{% static 'S__3997714.jpg'%}" alt="" class='phone_img'>
          <p>005</p>
        </div>
        <p>曽我梅林の梅酒<br>曽我地区産の梅「白加賀」を使用して、日本酒に漬け込み作られます。梅の旨みがしっかり出ていて、コクもあり酸味もしっかりあります。</p>
      </div>
    </div>
    <div class="catalog_box">
      <div class="catalog">
        <div class="img_box">
          <img src="{% static 'S__3997704.jpg'%}" alt="" class='wide_img'>
          <img src="{% static 'S__3997729.jpg'%}" alt="" class='phone_img'>
          <p>006</p>
        </div>
        <p>崎陽軒のシウマイ<br>変わらぬおいしさの崎陽軒のシウマイ。特性シウマイと昔ながらのシウマイセットでお届け！</p>
      </div>
    </div>
    <div class="catalog_box">
      <div class="catalog">
        <div class="img_box">
          <img src="{% static 'S__3997706.jpg'%}" alt="" class='wide_img'>
          <img src="{% static 'S__3997712.jpg'%}" alt="" class='phone_img'>
          <p>007</p>
        </div>
        <p>三浦大根焼酎<br>瑞々しく自然な甘さと独特の苦み・辛みの調和がおいしい幻の三浦大根。その三浦大根で作られた大根焼酎です。</p>
      </div>
    </div>
    <div class="catalog_box">
      <div class="catalog">
        <div class="img_box">
          <img src="{% static 'S__3997708.jpg'%}" alt="" class='wide_img'>
          <img src="{% static 'S__3997721.jpg'%}" alt="" class='phone_img'>
          <p>008</p>
        </div>
        <p>鳩サブレー<br>鎌倉土産として親しまれてきたお菓子。自分で買うことは少なくても、貰うとなんだか嬉しいお菓子ですよね。</p>
      </div>
    </div>
    <div class="catalog_box">
      <div class="catalog">
        <div class="img_box">
          <img src="{% static 'S__3997709.jpg'%}" alt="" class='wide_img'>
          <img src="{% static 'S__3997731.jpg'%}" alt="" class='phone_img'>
          <p>009</p>
        </div>
        <p>横須賀海軍カレー<br>日本でカレーライスが普及したルーツとも言われている横須賀海軍カレーを、一人で毎日３食カレーでも大丈夫な量をご用意しました。</p>
      </div>
    </div>
    <div class="catalog_box">
      <div class="catalog">
        <div class="img_box">
          <img src="{% static 'S__3997710.jpg'%}" alt="" class="wide_img">
          <img src="{% static 'S__3997720.jpg'%}" alt="" class='phone_img'>
          <p>010</p>
        </div>
        <p>うまい棒<br>自分では絶対に買わないものランキング第一位のうまい棒1000本！うまい棒1000本を選んだということが、話題として既にうまいです。</p>
      </div>
    </div>
    {% for c in ccc %}
    <div class="catalog_box">
      <div class="catalog">
        <div class="img_box">
          <img src="{{ c.img.url }}" alt="">
          <p>{{ c.number}}</p>
        </div>
        <p>{{c.p}}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}



{% block e_body %}
<script src="  https://cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.2/particles.min.js"></script>
<script type="text/javascript">
window.onload = function() {
Particles.init({
selector: '.background',
sizeVariations: 80,
color: [
  'rgba(0,187,221,.7)', 'rgba(0,187,221,.4)', 'rgba(255,114,52,.4)', 'rgba(255,114,52,.7)'
],
responsive: [

{
breakpoint: 1024,
options: {
  sizeVariations: 50,
  maxParticles: 120,
}
},{
breakpoint: 768,
options: {
  maxParticles: 100,
}
}, {
breakpoint: 425,
options: {
  sizeVariations: 20,
  maxParticles: 80,
}
}, {
breakpoint: 320,
options: {
  maxParticles: 50
}
}
]

});
};
</script>
{% endblock %}
