{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="/static/tosou/css/ful_contact.css">
{% endblock %}

{% block body %}
<div class="f_contact_body">
  <div class="tel_number_box">
    <h2>代表直通｜お見積りやご相談無料<i class="fas fa-phone-alt"></i>電話対応｜15：00-19:00<i class="fas fa-map-marker-alt"></i>神奈川県密着</h2>
    <h1><i class="fas fa-phone-alt"></i>090-2564-5015</h1>
  </div>
  <div class="line_box">
    <div class="line_grid">
      <p></p>
      <div class="qr_box">
        <img src="{% static 'S__3899394.jpg' %}" alt="">
      </div>
      <p class='line_a'>大槻塗装工業公式LINE</p>
    </div>
  </div>

</div>
{% endblock %}



{% block e_body %}
{% endblock %}
