{% extends 'base.html' %}
{% load tosou_tag %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="/static/tosou/css/index.css">
<link rel="stylesheet" href="/static/tosou/css/style.css">
{% endblock %}
{% block body %}
<div class="main_img">
  <img src="{% static 'S__6742019.jpg' %}" alt="">
</div>
<section class="voice-sec">
  <div class="voice-wrapper">
    <div class="voice-box">

      <div class="voice-card">
        <img src="/static/img-human001.svg" alt="">
        <img class="animate" data-animate="fadeIn" data-duration="0.8s" data-delay="0.2s" src="/static/voice-message.svg" alt="">
      </div>

      <div class="voice-card">
        <img src="/static/img-human-002.svg" alt="">
        <img class="animate" data-animate="fadeIn" data-duration="0.8s" data-delay="0.3s" src="/static/voice-right.svg" alt="">
      </div>

      <div class="voice-card">
        <img src="/static/img-human2.png" alt="">
        <img class="animate" data-animate="fadeIn" data-duration="0.8s" data-delay="0.4s" src="/static/voice-message.svg" alt="">
      </div>

      <div class="voice-card">
        <img src="/static/img-human3.png" alt="">
        <img class="animate" data-animate="fadeIn" data-duration="0.8s" data-delay="0.5s" src="/static/voice-right.svg" alt="">
      </div>

      <div class="voice-card">
        <img src="/static/img-human4.png" alt="">
        <img class="animate" data-animate="fadeIn" data-duration="0.8s" data-delay="0.6s" src="/static/voice-message.svg" alt="">
      </div>

    </div>

    <div class="voice-toggle">
      <div class="voice-scard">
        <div class="voice-prof">
          <img src="/static/account-blue.png" alt="">

        </div>
        <div class="voice-desc">
          <p>子供が小学校に上がる事もありこれからの出費を考えると、
            塗り替えどころでは無かったのですが、現金負担０円でできると言う事もあり
            相談してみました。それに加え毎月の支払いも減ったのでとても助かりました！</p>
        </div>
      </div>
      <button id="more-btn" type="button" name="button">もっと見る</button>
    </div>

    <div id="voice-box" class="voice-sbox">
      <div class="voice-scard">
        <div class="voice-prof">
          <img src="/static/account-blue.png" alt="">

        </div>
        <div class="voice-desc">
          <p>子供が小学校に上がる事もありこれからの出費を考えると、
            塗り替えどころでは無かったのですが、現金負担０円でできると言う事もあり
            相談してみました。それに加え毎月の支払いも減ったのでとても助かりました！</p>
        </div>
      </div>

      <div class="voice-scard">
        <div class="voice-prof">
          <img src="/static/account-yellow.png" alt="">

        </div>
        <div class="voice-desc">
          <p>子供が小学校に上がる事もありこれからの出費を考えると、
            塗り替えどころでは無かったのですが、現金負担０円でできると言う事もあり
            相談してみました。それに加え毎月の支払いも減ったのでとても助かりました！</p>
        </div>
      </div>

      <div class="voice-scard">
        <div class="voice-prof">
          <img src="/static/account-pink.png" alt="">

        </div>
        <div class="voice-desc">
          <p>子供が小学校に上がる事もありこれからの出費を考えると、
            塗り替えどころでは無かったのですが、現金負担０円でできると言う事もあり
            相談してみました。それに加え毎月の支払いも減ったのでとても助かりました！</p>
        </div>
      </div>

      <div class="voice-scard">
        <div class="voice-prof">
          <img src="/static/account-green.png" alt="">

        </div>
        <div class="voice-desc">
          <p>子供が小学校に上がる事もありこれからの出費を考えると、
            塗り替えどころでは無かったのですが、現金負担０円でできると言う事もあり
            相談してみました。それに加え毎月の支払いも減ったのでとても助かりました！</p>
        </div>
      </div>

      <div class="voice-scard">
        <div class="voice-prof">
          <img src="/static/account-orange.png" alt="">

        </div>
        <div class="voice-desc">
          <p>子供が小学校に上がる事もありこれからの出費を考えると、
            塗り替えどころでは無かったのですが、現金負担０円でできると言う事もあり
            相談してみました。それに加え毎月の支払いも減ったのでとても助かりました！</p>
        </div>
      </div>
      {% for c in ccc %}
      <div class="voice-scard">
        <div class="voice-prof">
          <img src="{{c.img.url}}" alt="">

        </div>
        <div class="voice-desc">
          <p>{{c.voice}}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>


</section>

<form class="check_form" action="{% url 'check' %}" method="post">
  {% csrf_token %}
  <h1>あなたにも現金負担0円塗装のチャンス！</h1>
  <p>当てはまる項目を全て選んでから結果にお進みください</p>
  <div class="check_box">
    <div class="c_box">
      <input type="checkbox" name="gaku" value="on" id='gaku'>
      <label for="gaku">住宅ローン残高</label>
      <label for='gaku'>約1000万円以上</label>
      <p>check!</p>
    </div>
    <div class="c_box">
      <input type="checkbox" name="nen" value="on" id='nen'>
      <label for="nen">住宅ローン残期間</label>
      <label for='nen'>約10年以上</label>
      <p>check!</p>
    </div>
    <div class="c_box">
      <input type="checkbox" name="risi" value="on" id='risi'>
      <label for="risi">現在の金利が</label>
      <label for='risi'>約1.5%以上</label>
      <p>check!</p>
    </div>
  </div>
  <button type="submit" name="button">結果を見る</button>
</form>
<div class="guide_box">
  <h1>トピック一覧</h1>
  <div class="guide">
    <div class="smart grid_box">
      <div class="img_box">
        <img src="{% static '090909090.png' %}" alt="">
        <p>スマートリノベーション</p>
      </div>
    </div>
    <div class="ohtsuki grid_box">
      <div class="img_box">
        <img src="{% static 'main_ohtsuki.jpg'%}" alt="">
        <p>有限会社大槻塗装工業</p>
      </div>
    </div>
    <div class="animation grid_box">
      <div class="img_box">
        <img src="{% static '00001.jpg' %}" alt="">
        <p>漫画で分かる現金負担0円の理由</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block e_body %}
{% endblock %}
