{% extends 'base.html' %}
{% load tosou_tag %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="/static/tosou/css/index.css">
<link rel="stylesheet" href="/static/tosou/css/renovation.css">
<link rel="stylesheet" href="/static/tosou/css/style.css">
{% endblock %}
{% block body %}
<div class="main_img">
  <img src="{% static 'S__6742019.jpg' %}" alt="">
</div>
<div class="sikumi_box">
  <h1>仕組み<span>説</span>明</h1>
  <h1 class='new_sikumi'>あたらしいリフォームの仕組み</h1>
  <div class="tada_box">
    <p class='tada'>自己資金<span>¥0</span></p>
    <p class='tada'>設備代金<span>¥0</span></p>
    <p class='tada'>工事代金<span>¥0</span></p>
    <p class='tada_p'>すべて現金負担<span>0円</span>でリフォームをおこなえる時代になりました。</p>
  </div>
  <div class="henka_box">
    <h1>借り換えとリフォームによる支払額の変化の例</h1>
    <p>築10年・元金2000万円・残期間25年・金利2.5％の方が、<br>金利0.875％に借り換えして220万（諸経費込）のリフォームをしたケース</p>
    <div class="sikumi_img">
      <img src="{% static 'shikumi.png' %}" alt="">
    </div>
    <div class="taisyo_box">
      <p class='taisyo_p'>スマートリノベーションの対象となる方</p>
      <div class="taisyo_grid">
        <div class="check_grid">
          <p><i class="fas fa-check-square"></i>住宅ローンの残高が1000万以上</p>
          <p><i class="fas fa-check-square"></i>住宅ローンの残期間が10年以上</p>
          <p><i class="fas fa-check-square"></i>住宅ローンの金利が1.5%以上</p>
          <p><i class="fas fa-check-square"></i>リフォームをご希望の方</p>
        </div>
        <p class="contact_p">以上全てに該当されない方も、現金負担なくリフォーム出来る可能性があります。現在お借入内容とご希望のリフォーム工事をお伝え頂ければ、現金負担０円の対象か無料で診断しております。<br>まずはお気軽にご相談ください！</p>
      </div>
    </div>
  </div>
  <div class="rino_manga taisyo_box">
    <p class='taisyo_p'>スマートリノベーションを漫画で知ろう</p>
    <div class="m_label_box">
      <p class='grid_t'>分かりやすく漫画になりました。<br>漫画をご覧になる方は画像をクリックしてください。</p>
      <label for='manga_check' class="manga_box a_box ">
        <img src="{% static 'S__3866629.jpg' %}" alt="">
        <div class="mask">
          <div class="p_box">
            <div class="p">
              <h3>漫画で分かる<span><div class='span_d'>現金<br>負担</div></span>0<span>円</span>塗装</h3>
              <p>現金負担0円でお家の塗り替えができる仕組みが分かりやすく漫画になりました。</p>
            </div>
          </div>
        </div>
      </label>
    </div>
  </div>
</div>
<section class="voice-sec">
  <div class="voice-wrapper">
    <div class="voice-box">

      <div class="voice-card">
        <img src="/static/img-human005.svg" alt="">
        <img class="animate" data-animate="fadeIn" data-duration="0.8s" data-delay="0.2s" src="/static/voice01.svg" alt="">
      </div>

      <div class="voice-card">
        <img src="/static/img-human002.svg" alt="">
        <img class="animate" data-animate="fadeIn" data-duration="0.8s" data-delay="0.3s" src="/static/voice02.svg" alt="">
      </div>

      <div class="voice-card">
        <img src="/static/img-human003.svg" alt="">
        <img class="animate" data-animate="fadeIn" data-duration="0.8s" data-delay="0.4s" src="/static/voice03.svg" alt="">
      </div>

      <div class="voice-card">
        <img src="/static/img-human004.svg" alt="">
        <img class="animate" data-animate="fadeIn" data-duration="0.8s" data-delay="0.5s" src="/static/voice04.svg" alt="">
      </div>

      <div class="voice-card">
        <img src="/static/img-human001.svg" alt="">
        <img class="animate" data-animate="fadeIn" data-duration="0.8s" data-delay="0.6s" src="/static/voice05.svg" alt="">
      </div>

    </div>

    <div class="voice-toggle">
      <div class="voice-scard">
        <div class="voice-prof">
          <img src="/static/account-blue.png" alt="">

        </div>
        <div class="voice-desc">
          <p>借り換えが大変だと思っていたのですが、１から10までいろいろ丁寧にサポートしてくれたので、スムーズに借換から塗り替えまですることができました。</p>
        </div>
      </div>
      <button id="more-btn" type="button" name="button">もっと見る</button>
    </div>

    <div id="voice-box" class="voice-sbox">
      <div class="voice-scard">
        <div class="voice-prof">
          <img src="/static/account-blue.png" alt="">

        </div>
        <div class="voice-desc">
          <p>借り換えが大変だと思っていたのですが、１から10までいろいろ丁寧にサポートしてくれたので、スムーズに借換から塗り替えまですることができました。</p>
        </div>
      </div>

      <div class="voice-scard">
        <div class="voice-prof">
          <img src="/static/account-yellow.png" alt="">

        </div>
        <div class="voice-desc">
          <p>初めは難しそうに感じたのですが、借り換えの相談から塗装完了まで丁寧に寄り添ってくれたので、とても安心して塗り替えすることが出来ました。</p>
        </div>
      </div>

      <div class="voice-scard">
        <div class="voice-prof">
          <img src="/static/account-pink.png" alt="">

        </div>
        <div class="voice-desc">
          <p>ご近所さんが塗り替えしていたので、うちもお願いしたところ、紹介特典も貰えたのでなんだか得した気分になりました。</p>
        </div>
      </div>

      <div class="voice-scard">
        <div class="voice-prof">
          <img src="/static/account-green.png" alt="">

        </div>
        <div class="voice-desc">
          <p>子どもが高校卒業するまで、塗り替えは出来ないと諦めていたのですが、今回現金負担0円で出来るかもしれないというのを、親戚から聞いて試してみたところ、見事に対象内だったため、依頼させていただきました。紹介特典も家族で盛り上がったのでとても良いサービスだと思いました。</p>
        </div>
      </div>

      <div class="voice-scard">
        <div class="voice-prof">
          <img src="/static/account-orange.png" alt="">

        </div>
        <div class="voice-desc">
          <p>うちは対象外だったのですが、ちょうど塗り替えを計画していた友人がいたので、現金負担0円塗装を紹介してみました。喜んで貰えたので良かったと思います。紹介特典がとてもユニークだったので、また機会があれば塗り替えを計画中の友達に教えてみたいと思っています。</p>
        </div>
      </div>
      {% for c in ccc %}
      <div class="voice-scard">
        <div class="voice-prof">
          <img src="{{c.pic}}" alt="" class='line_pic'>
        </div>
        <div class="voice-desc">
          <p>{{c.voice}}</p>
        </div>
      </div>
      {% endfor %}
      {% if user.is_authenticated %}
      <form class="v_form" action="{% url 'voice_form' %}" method="post">
        {% csrf_token %}
        <label for="pic_check" class='pic_check'>
          <input type="checkbox" name="not_pic" value="on" id='pic_check'>
          <p>匿名で投稿したい場合はチェックをいれて送信してください。</p>
        </label>
        <textarea name="voice" rows="8" cols="80" class='v_text'></textarea>
        <button type="submit" name="button" class='v_button'>送信</button>
      </form>
      {% else %}
      <p class='c_announce'>ログインをするとコメント投稿が出来るようになります。</p>
      {% endif %}
    </div>
  </div>


</section>

<form class="check_form" action="{% url 'check' %}" method="post">
  {% csrf_token %}
  <h1>あなたにも現金負担0円塗装のチャンス！</h1>
  <p>下記３つから当てはまる項目を全て選んで結果にお進みください</p>
  <div class="check_box">
    <div class="c_box">
      <input type="checkbox" name="gaku" value="on" id='gaku'>
      <label for="gaku">住宅ローン残高<br>約1000万円以上</label>
      <p class='checked'><i class="far fa-check-circle"></i></p>
      <p class='a_check' id='a_check'><i class="far fa-check-circle"></i>?</p>
    </div>
    <div class="c_box">
      <input type="checkbox" name="nen" value="on" id='nen'>
      <label for="nen">住宅ローン残期間<br>約10年以上</label>
      <p class='checked'><i class="far fa-check-circle"></i></p>
      <p class='a_check' id='a_check'><i class="far fa-check-circle"></i>?</p>
    </div>
    <div class="c_box">
      <input type="checkbox" name="risi" value="on" id='risi'>
      <label for="risi">現在の金利が<br>約1.5%以上</label>
      <p class='checked'><i class="far fa-check-circle"></i></p>
      <p class='a_check' id='a_check'><i class="far fa-check-circle"></i>?</p>
    </div>
  </div>
  <button type="submit" name="button">結果を見る</button>
</form>
<div class="guide_box">
  <h2>おすすめのトピック</h2>
  <div class="account_grid">
    <label class="ohtsuki_box a_box" onClick="win3_open()">
      <img src="{% static 'S__3866630.jpg' %}" alt="">
      <div class="mask">
        <div class="p_box">
          <div class="p">
            <h3>大槻塗装工業</h3>
            <p>当社の一番の強みは、昭和36年から約60年続く、老舗塗装店の施工力。<br>お住まいの状況を正しく見極める診断力、一軒一軒に合わせて最適な塗り替えを行う技術力なら、どんな塗装店にも引けをとりません。<br>皆様の大切なお住まいが、少しでも長く家族の暮らしを守れるように...。<br>小さなところからきっちりと、信頼に応える塗装工事をいたします。</p>
          </div>
        </div>
      </div>
    </label>
    <a href="{% url 'mitumori' %}" class="mitumori_box a_box">
      <img src="{% static 'S__3866634.jpg' %}" alt="">
      <div class="mask">
        <div class="p_box">
          <div class="p">
            <h3>塗装見積依頼</h3>
            <p>直接大槻塗装工業に見積依頼をする方はこちらのフォームから送信してください。<br>見積依頼を当社で確認後、希望日に合わせてご連絡いたします。こちらのお見積りにかかる費用は一切ございませんが、お仕事の方は通常料金でご案内させていただいております。<br>お気軽にお問合わせください。</p>
          </div>
        </div>
      </div>
    </a>
    <a href="{% url 'qa' %}" class="qa_box a_box">
      <img src="{% static 'S__3866628.jpg' %}" alt="">
      <div class="mask">
        <div class="p_box">
          <div class="p">
            <h3>よくあるご質問</h3>
            <p>よくあるご質問をQ＆A方式でまとめました。<br>公式LINEでもご質問などに対応しておりますので、他にも気になることがありましたら、そちらもご利用ください。</p>
          </div>
        </div>
      </div>
    </a>
    <a href="{% url 'renovation' %}" class="smart_box a_box">
      <img src="{% static 'S__3883010.jpg' %}" alt="">
      <div class="mask">
        <div class="p_box">
          <div class="p">
            <h3>現金負担0円の仕組み</h3>
            <p>現金負担0円の仕組みの説明や、無料相談後の流れについてまとめました。なぜ現金負担0円で塗装工事をすることが可能なのかを簡単にご説明できればと思っております。知れば納得の仕組みになっておりますので、ご安心して当社にお任せください。</p>
          </div>
        </div>
      </div>
    </a>
    <a href="{% url 'consul' %}" class="consul_box a_box">
      <img src="{% static 'S__3866633.jpg' %}" alt="">
      <div class="mask">
        <div class="p_box">
          <div class="p">
            <h3>無料相談</h3>
            <p>住宅ローン残高1000万円以上、住宅ローン残期間10年以上、現在の金利が1.5%以上の方であれば、きっとお役に立てます。リフォーム資金計画相談シートをご入力を希望の方はこちらからお願いいたします。</p>
          </div>
        </div>
      </div>
    </a>
    <label for='manga_check' class="manga_box a_box">
      <img src="{% static 'S__3866629.jpg' %}" alt="">
      <div class="mask">
        <div class="p_box">
          <div class="p">
            <h3>漫画で分かる<span><div class='span_d'>現金<br>負担</div></span>0<span>円</span>塗装</h3>
            <p>現金負担0円でお家の塗り替えができる仕組みが分かりやすく漫画になりました。</p>
          </div>
        </div>
      </div>
    </label>
    <a href="{% url 'e_s' %}" class="simulation_box a_box">
      <img src="{% static 'S__3866635.jpg' %}" alt="">
      <div class="mask">
        <div class="p_box">
          <div class="p">
            <h3>簡単シミュレーション</h3>
            <p>住宅ローンの金利が現在のままの場合に支払う利子がいくらになるのか、借り換えをするといくら節約することが出来るのかを簡単に計算できます。<br>無料相談の前などに一度お試ししてみてはいかがでしょうか。</p>
          </div>
        </div>
      </div>
    </a>
    <a href="{% url 'catalog' %}" class="catalog_box a_box">
      <img src="{% static 'S__3866632.jpg' %}" alt="">
      <div class="mask">
        <div class="p_box">
          <div class="p">
            <h3>紹介特典</h3>
            <p>お仕事をご紹介していただいた皆様に、紹介特典として送りさせていただく品物のカタログです。<br>紹介していただいたお仕事が完了した際に、公式LINEからご連絡いたします。その際にカタログに掲載されている商品の中から一つお選びしていただく形になっております。<br>商品は定期的に新しいもの更新しております。</p>
          </div>
        </div>
      </div>
    </a>
    <a href="{% url 'regi' %}" class="user_box a_box">
      <img src="{% static 'S__3866626.jpg' %}" alt="">
      <div class="mask">
        <div class="p_box">
          <div class="p">
            <h3>ユーザー登録</h3>
            <p>お仕事をご紹介して紹介特典を受け取るためにはユーザー登録が必要になっております。ユーザー登録はLINEでサイトにログインするだけなのでとても簡単です。<br>また、紹介特典の商品コードや郵送先の確認のご連絡は公式LINEにて行いますので、ユーザー登録後、公式LINEの方も友達追加していただきますようよろしくお願いいたします。</p>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
{% endblock %}


{% block e_body %}
{% endblock %}
