{% extends 'base.html' %}
{% load tosou_tag %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="/static/tosou/css/index.css">
{% endblock %}
{% block body %}
<div class="main_img">
  <img src="{% static 'S__6742019.jpg' %}" alt="">
</div>
<div class="customer_voice_box">
  <h1>お客様の声</h1>
  <div class="scloll_box">
    {% for c in ccc %}
    {% if forloop.counter|two == 0 %}
    <div class="customer_voice c_right">
      <p>{{c.voice}}</p>
      <img src={{c.img.url}} alt="">
    </div>
    {% else %}
    <div class="customer_voice c_left">
      <img src="{{c.img.url}}" alt="">
      <p>{{c.voice}}</p>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
<form class="check_form" action="{% url 'check' %}" method="post">
  {% csrf_token %}
  <h1>あなたにも現金負担0円塗装のチャンス！</h1>
  <p>当てはまる項目を全て選んでから結果にお進みください</p>
  <div class="check_box">
    <div class="c_box">
      <input type="checkbox" name="gaku" value="on" id='gaku'>
      <label for="gaku">住宅ローン残高</label>
      <label for='gaku'>約1000万円以上</label>
      <p>check!</p>
    </div>
    <div class="c_box">
      <input type="checkbox" name="nen" value="on" id='nen'>
      <label for="nen">住宅ローン残期間</label>
      <label for='nen'>約10年以上</label>
      <p>check!</p>
    </div>
    <div class="c_box">
      <input type="checkbox" name="risi" value="on" id='risi'>
      <label for="risi">現在の金利が</label>
      <label for='risi'>約1.5%以上</label>
      <p>check!</p>
    </div>
  </div>
  <button type="submit" name="button">結果を見る</button>
</form>
<div class="guide_box">
  <h1>トピック一覧</h1>
  <div class="guide">
    <div class="smart grid_box">
      <div class="img_box">
        <img src="{% static '090909090.png' %}" alt="">
        <p>スマートリノベーション</p>
      </div>
    </div>
    <div class="ohtsuki grid_box">
      <div class="img_box">
        <img src="{% static 'main_ohtsuki.jpg'%}" alt="">
        <p>有限会社大槻塗装工業</p>
      </div>
    </div>
    <div class="animation grid_box">
      <div class="img_box">
        <img src="{% static '00001.jpg' %}" alt="">
        <p>漫画で分かる現金負担0円の理由</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
