{% extends 'base.html' %}
{% load static %}
{% block head %}
<link rel="stylesheet" href="/static/tosou/css/account.css">
<link rel="stylesheet" href="/static/tosou/css/renovation.css">
{% endblock %}

{% block body %}
<div class="rino_body">
  <div class="rino_main">
    <img class='rino_main_img' src="{% static 'S__3874822.jpg' %}" alt="">
    <img class='main_logo' src="{% static 'top1.png' %}" alt="">
  </div>
  <div class="sikumi_box">
    <h1>仕組み<span>説</span>明</h1>
    <h1 class='new_sikumi'>あたらしいリフォームの仕組み</h1>
    <div class="tada_box">
      <p class='tada'>自己資金<span>¥0</span></p>
      <p class='tada'>設備代金<span>¥0</span></p>
      <p class='tada'>工事代金<span>¥0</span></p>
      <p class='tada_p'>すべて現金負担<span>0円</span>でリフォームをおこなえる時代になりました。</p>
    </div>
    <div class="henka_box">
      <h1>借り換えとリフォームによる支払額の変化の例</h1>
      <p>築10年・元金2000万円・残期間25年・金利2.5％の方が、<br>金利0.875％に借り換えして220万（諸経費込）のリフォームをしたケース</p>
      <div class="sikumi_img">
        <img src="{% static 'shikumi.png' %}" alt="">
      </div>
      <div class="taisyo_box">
        <p class='taisyo_p'>スマートリノベーションの対象となる方</p>
        <div class="taisyo_grid">
          <div class="check_grid">
            <p><i class="fas fa-check-square"></i>住宅ローンの残高が1000万以上</p>
            <p><i class="fas fa-check-square"></i>住宅ローンの残期間が10年以上</p>
            <p><i class="fas fa-check-square"></i>住宅ローンの金利が1.5%以上</p>
            <p><i class="fas fa-check-square"></i>リフォームをご希望の方</p>
          </div>
          <p class="contact_p">以上全てに該当されない方も、現金負担なくリフォーム出来る可能性があります。現在お借入内容とご希望のリフォーム工事をお伝え頂ければ、現金負担０円の対象か無料で診断しております。<br>まずはお気軽にご相談ください！</p>
        </div>
      </div>
    </div>
    <div class="rino_manga taisyo_box">
      <p class='taisyo_p'>スマートリノベーションを漫画で知ろう</p>
      <div class="m_label_box">
        <p>分かりやすく漫画になりました。<br>漫画をご覧になる方は画像をクリックしてください。</p>
        <label for='manga_check' class="manga_box a_box">
          <img src="{% static 'S__3866629.jpg' %}" alt="">
          <div class="mask">
            <div class="p_box">
              <div class="p">
                <h3>漫画で分かる<span><div class='span_d'>現金<br>負担</div></span>0<span>円</span>塗装</h3>
                <p>現金負担0円でお家の塗り替えができる仕組みが分かりやすく漫画になりました。</p>
              </div>
            </div>
          </div>
        </label>
      </div>
    </div>
    <h1 class='flow_p'>お問い合わせから完了までの<span>流</span>れ</h1>
    <h1 class='new_sikumi'>まずはリフォーム資金計画相談シートの入力から</h1>
    <div class="flow_grid">
      <div class="f_p_box">
        <h2>お<span>問</span>い合わせ</h2>
        <p>無料相談からリフォーム資金計画相談シートにお客様情報をご入力ください。<br>お電話でもOKです。</p>
      </div>
      <div class="f_img_box">
        <img src="{% static 'flow1.jpg' %}" alt="">
      </div>
    </div>
    <div class="flow_grid">
      <div class="f_p_box">
        <h2>ヒ<span>ア</span>リング</h2>
        <p>借り換え調査のため、お電話にてヒアリングさせていただきます。<br>ヒアリング後、削減幅をご案内いたします。<br>※お客様に金融機関を選んでいただきます。当社からの金融機関の斡旋はございません。</p>
      </div>
      <div class="f_img_box">
        <img src="{% static 'flow2.jpg' %}" alt="">
      </div>
    </div>
    <div class="flow_grid">
      <div class="f_p_box">
        <h2>お<span>見</span>積り</h2>
        <p>有限会社大槻塗装工業が塗装工事のお見積りをいたします。</p>
      </div>
      <div class="f_img_box">
        <img src="{% static 'flow3.jpg' %}" alt="">
      </div>
    </div>
    <div class="flow_grid">
      <div class="f_p_box">
        <h2>銀行<span>審</span>査</h2>
        <p>仮審査・本審査</p>
      </div>
      <div class="f_img_box">
        <img src="{% static 'flow4.jpg' %}" alt="">
      </div>
    </div>
    <div class="flow_grid">
      <div class="f_p_box">
        <h2>工事着工・<span>完</span>了</h2>
        <p>審査が通りましたら工事を開始します。<br>スマートリノベーション加盟工務店が工事完了まで責任を持って行います。</p>
      </div>
      <div class="f_img_box">
        <img src="{% static 'flow5.jpg' %}" alt="">
      </div>
    </div>
    <div class="flow_grid">
      <div class="f_p_box">
        <h2>お<span>支</span>払い</h2>
        <p>リフォーム代は借換先の銀行から<br>スマートリノベーション加盟工務店にお支払いとなります。</p>
      </div>
      <div class="f_img_box">
        <img src="{% static 'flow6.jpg' %}" alt="">
      </div>
    </div>
  </div>
  <div class="rino_main2">
    <h1 class='taisyo_p'>現金負担0円リフォームに<span>携</span>わる企業のホームページ</h1>
    <div class="m_label_box">
      <label class="smart_box a_box" onClick="win2_open()">
        <img src="{% static 'S__3883011.jpg' %}" alt="">
        <div class="mask">
          <div class="p_box">
            <div class="p">
              <h3>Goodグループ</h3>
              <p>MISSION<br>買手よし、売手よし、世間よし、「三方よし」を実現します。<br>VISION<br>みなさまから「最も必要とされる企業」を目指します。<br>GROUP<br>グッドビズ株式会社<br>グッドリアルティ株式会社<br>グッドリユース株式会社</p>
            </div>
          </div>
        </div>
      </label>
      <label class="smart_box a_box" onClick="win_open()">
        <img src="{% static 'S__3866631.jpg' %}" alt="">
        <div class="mask">
          <div class="p_box">
            <div class="p">
              <h3>スマートリノベーション</h3>
              <p>スマートリノベーションは悪徳会社の徹底排除を推進してます！取扱業者は優良店のみ！！本部の基準を満たした業者のみ取扱いが可能です。クレームの多い会社は契約を解除できる内容にしておりますのでご安心してご相談ください。</p>
            </div>
          </div>
        </div>
      </label>
      <label class="ohtsuki_box a_box" onClick="win3_open()">
        <img src="{% static 'S__3866630.jpg' %}" alt="">
        <div class="mask">
          <div class="p_box">
            <div class="p">
              <h3>大槻塗装工業</h3>
              <p>当社の一番の強みは、昭和36年から約60年続く、老舗塗装店の施工力。<br>お住まいの状況を正しく見極める診断力、一軒一軒に合わせて最適な塗り替えを行う技術力なら、どんな塗装店にも引けをとりません。<br>皆様の大切なお住まいが、少しでも長く家族の暮らしを守れるように...。<br>小さなところからきっちりと、信頼に応える塗装工事をいたします。</p>
            </div>
          </div>
        </div>
      </label>
    </div>
  </div>
</div>
{% endblock %}



{% block e_body %}
{% endblock %}
